@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="text-align:center">
    <h1>COWORK DEL SUR</h1>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/images/Logo.jpg")" />
    </div>
    <div class="col-md-6">
        <p>COWORK DE SUR es una empresa de software uruguaya fundada hace más de 10 años. Es una empresa de coworking, donde el estilo de trabajo se basa en la colaboración entre los distintos actores que se 
        encuentran en un mismo espacio, sea tanto físico como virtual. Somos una empresa orientada al cliente, donde sus necesidades son nuestras necesidades.
        Nos adaptamos a todas las tecnologías y procesos necesarios para otorgar un producto con la calidad necesaria y un valor agregado.</p>
        <br />
        <p>COLABORA es un sistema web que permite gestionar la reserva de espacios físicos, cuenta con una variada cantidad de salas disponibles. Además ofrece distintos métodos de pagos
        y facturación.</p>
    </div>
</div>